.register{
    width: 400px;
    height: 170px;
    border: 1px grey solid;
    border-radius: 5px;
    margin: 200px auto;
    text-align: center;
}

.home{
    color: deepskyblue;
    font-size:20pt ;
    font-style: italic;
}
a:hover{
    color: red;
    cursor: pointer;
}
.button{
    padding: 5px 20px;
    border-radius: 5px;
    text-align: center;
}
.button:hover{
    background-color: green;
    cursor: pointer;
}