ul li {
    display: inline-block
}

.nav_first {
    float: left;
    color: deepskyblue;
    font-size: 20pt;
    font-style: italic;
}

.nav_second {
    float: left;
}

.nav_third {
    text-align: right;
}

.search {
    text-align: center;
}

.img1 {
    padding: 80px 100px;
    margin: 50px 300px;
    border: solid 1px;
    border-radius: 5px;
    text-align: center;
}

.img2 {
    padding: 80px 100px;
    margin: 50px 300px;
    border-radius: 5px;
    border: solid 1px;
    text-align: center;
}

.img3 {
    padding: 80px 100px;
    margin: 50px 300px;
    border: solid 1px;
    border-radius: 5px;
    text-align: center;
}

.img {
    float: left;
    margin-left: 100px;
}

.side {
    margin-left: 100px;
    text-align: center;
}

.name {
    text-align: center;
    font-style: italic;
    color: darkgreen;
}

.author {
    text-align: center;
    font-style: italic;
    color: deepskyblue;
}

.price{
    text-align: center;
    color: burlywood;
}
.description {
    /*width: 300px;*/
    text-align: center;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden
}
/*下拉按钮*/
.sort{
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    font-size: 8px;
    border: none;
    cursor: pointer;
}
.result{
    position: relative;
    display: inline-block;
}
.result-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.result-content a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}
.result:hover .result-content {
    display: block;
}
/*分页*/
.pagination {
    text-align: center;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}

.footer {
    text-align: center;
    bottom: 0;
    color: white;
    background-color: black;
}